# Virtual environment
venv/

# Python files
*.pyc
__pycache__/

# IDE settings
.vscode/
.idea/

# Logs and data
*.log
*.csv
*.json

# Model checkpoints
*.zip
checkpoints/
logs/

# System files
.DS_Store
thumbs.db
